<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Notes</h1>

    <% if (locals.message) { %>
    <div class="message">
      <h4 class="message-text"><%= message %></h4>
    </div>
    <% } %>

    <form action="/add" method="POST">
      <input type="text" name="note" id="note" />
      <input type="submit" value="Add note" />
    </form>

    <% if (notes.length == 0) { %>
    <p>Empty</p>
    <%} else { %> <% notes.forEach(element => { %>
    <div>
      <p><%= element.note %></p>
      <a href="/edit/<%= element.id %>">Edit</a>
      <a href="/delete/<%= element.id %>">Delete</a>
    </div>
    <% }) %> <% } %>
  </body>
</html>
